<form
  class="form-horizontal"
  autocomplete="off"
  #editTTForm="ngForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]="'Edit tinh thanh'"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">
    <tabset>
      <tab [heading]="'Details' | localize" class="pt-3 px-2">
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="ma">
            {{ "Ma" }}
          </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="ma"
              id="ma"
              required
              minlength="2"
              maxlength="32"
              [(ngModel)]="tinhThanh.ma"
              #nameModel="ngModel"
              #nameEl
            />
            <abp-validation-summary
              [control]="nameModel"
              [controlEl]="nameEl"
            ></abp-validation-summary>
          </div>
        </div>
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="ten">
            {{ "Ten tinh thanh" }}
          </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="ten"
              id="ten"
              required
              minlength="2"
              maxlength="32"
              [(ngModel)]="tinhThanh.ten"
              #displayNameModel="ngModel"
              #displayNameEl
            />
            <abp-validation-summary
              [control]="displayNameModel"
              [controlEl]="displayNameEl"
            ></abp-validation-summary>
          </div>
        </div>
        <div class="form-group row mb-0">
          <label class="col-md-3 col-form-label" for="ghiChu">
            {{ "Ghi chu"}}
          </label>
          <div class="col-md-9">
            <textarea
              type="text"
              class="form-control"
              name="ghiChu"
              id="ghiChu"
              [(ngModel)]="tinhThanh.ghiChu"
            >
            </textarea>
          </div>
        </div>
      </tab>
      
    </tabset>
  </div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!editTTForm.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>
